.product-wrapper {
  visibility: hidden;
}

.product-wrapper.slick-initialized {
  visibility: visible;
}

.product-card {
  max-width: rem-calc(400);
  position: relative;
  display: block;
  float: none;
  padding: rem-calc(0 35 0 35);

  img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    max-height: 310px;
  }
}
