/**
 * partials/nav
 * ---
 * Menus
 */

.nav-bg {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: rem-calc(60);
  background: $main-navigation-bg;
  z-index: 994;
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transform: none;

  .nav--active & {
    height: 100%;
  }

  @include for-tablet-landscape-up {
    width: rem-calc(90);
    height: 120%;
    transform: scale(1.1) rotateZ(0) translateX(0);
    transform-origin: 0 50%;

    .nav--active & {
      -webkit-transform: scale(7) rotateZ(-15deg) translateX(-50px) translateY(-30px);
      -moz-transform: scale(7) rotateZ(-15deg) translateX(-50px) translateY(-30px);
      transform: scale(7) rotateZ(-15deg) translateX(-50px) translateY(-30px);
    }
  }
}

.nav-toggle {
  display: block;
  position: fixed;
  right: rem-calc(30);
  top: rem-calc(20);
  width: rem-calc(30);
  height: 28px;
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);

  span {
    width: rem-calc(30);
    height: 2px;
    display: block;
    border-radius: 1px;
    background: $navigation-toggle;
    margin: 0 0 5px;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
  }

  p {
    @extend %hide-text;
  }

  @include for-tablet-landscape-up {
    top: 45%;

    .nav--active & {
      right: rem-calc(400);
    }
  }
}

.nav--active .nav-toggle {
  span {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  span.line1,
  span.line3 {
    background: $navigation-toggle;
    opacity: 1;
    filter: alpha(opacity=100);
  }

  span.line1 {
    transform: rotate(45deg);
    margin-top: 8px;
  }

  span.line3 {
    transform: rotate(-45deg);
    margin-top: -14px;
  }
}

.nav {
  opacity: 0;
  pointer-events: none;
  margin-top: rem-calc(60);
  transition: all 0.3s ease-in-out;
}

.nav--active .nav {
  opacity: 1;
  pointer-events: all;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sub-menu {
  display: none;
}

.menu-item {
  display: block;
  position: relative;

  a {
    text-decoration: none;
    display: block;
    padding: rem-calc(20) 0;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: $white;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transition-delay: 0;

    @include for-tablet-landscape-up {
      display: inline-block;
      width: rem-calc(250);
    }
  }

  .nav--active & {
    a {
      opacity: 1;
    }

    &:nth-child(1) a {
      transition-delay: 0.2s;
    }

    &:nth-child(2) a {
      transition-delay: 0.3s;
    }

    &:nth-child(3) a {
      transition-delay: 0.4s;
    }

    &:nth-child(4) a {
      transition-delay: 0.5s;
    }

    &:nth-child(5) a {
      transition-delay: 0.6s;
    }

    &:nth-child(6) a {
      transition-delay: 0.7s;
    }
  }
}
