.wrapper {
  max-width: $wrapper-width;
  padding: 0 $margin-horizontal-large;
  margin: 0 auto;
  position: relative;
  // z-index: 10;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;

  @include for-tablet-landscape-up {
    padding: 0 rem-calc(105) 0 $margin-horizontal-large;
  }
}

.screenO {
  background: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 300ms linear;
  opacity: 0;

  .nav--active & {
    z-index: 995;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
}

.expertise-header-inner {
  display: block;
  padding: 100px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.expertise-header-content {
  position:relative;
  z-index:1;
}
.expertise-header-img-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url(../images/para-test.jpg) center center no-repeat;
  background-size: cover;
  z-index: 0;
}

.page-container {
  position: relative;
  background: #1b1d1e;

}
